body{
  background-color: aliceblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #efefef;
}

li {
  float: left;
}

li button {
  display: block;
  text-decoration: none;
  
  border: none;
  font-size: 16px;
  padding: 1.5em;
  text-align: center;
  text-decoration: none;
}

li input {
  display: inline;
  
  margin: 1.6em 1em 1em 4em; 
}