body{
  background-color: #efefef;
}

.RegisterPageContainer_1 h2{
  text-align: center;
  
}

.RegisterPageContainer_1{
  margin: 5em auto auto auto;
  width: 70%;
  border: 1px solid;
  text-align: center;
  background-color: aliceblue;
  padding-bottom: 2em;
}

h4 {
  margin-bottom: 4px;
  padding-bottom: 0px;
}

/* .left{
  display: inline-block;
  
  text-align: end;
}

.right{
  display: inline-block;
  
}

div input{
  display: block;
  margin: 1.7em;
} */


/* smaller than 500px e.g. phone */
@media only screen and (max-width: 500px) {

  
  /* .left{
    display: flex;
    flex-direction: column;
  }
  
  .right{
    display: flex;
    flex-direction: column;
    
  }
  div input{
    display: block;
    margin: 1.7em;
  }
  
  } */
}