body{
  background-color: #efefef;
}

.RegisterPageContainer_1 h2{
  text-align: center;
  
}

.RegisterPageContainer_1{
  margin: 5em auto auto auto;
  width: 70%;
  border: 1px solid;
  text-align: center;
  background-color: aliceblue;
  padding-bottom: 2em;
}


.left{
  display: inline-block;
  
  text-align: end;
}

.right{
  display: inline-block;
  
}

div input{
  display: block;
  margin: 1.7em;
}
